.dua {

    .dua-wrapper,
    .dua-container,
    .dua-frame {
        border-top-left-radius: 500px;
        border-top-right-radius: 500px;

        // border-bottom-left-radius: 50px;
        // border-bottom-right-radius: 50px;
    }

    .dua-wrapper {
        padding: 10px;

        // border: 6px solid #F0CA97;
        background: linear-gradient(60deg, rgba(239, 201, 152, 1) 0%, rgba(249, 221, 175, 1) 50%, rgba(243, 188, 119, 1) 100%);

        .dua-container {
            // background-image: url("../images/tropical.webp");
            background-size: cover;
            padding: 10px 20px;
            background-color: #F8F7F3;

            .dua-frame {
                background-color: #F8F7F3;
                padding: 45px 10px 35px;
                border: 4px solid #F0CA97;
                // box-shadow: 0 0 10px 0 rgb(86 90 50 / 43%);

                .bismillah {
                    width: 160px;
                    margin: 10px 0 20px;
                }

                p {
                    font-family: ElegantGaramondBT, Arial, Helvetica, sans-serif;
                    margin: 0;
                }
            }
        }


    }

}