#quran {
    margin-top: 45px;
    font-family: ElegantGaramondBT, Arial, Helvetica, sans-serif;
    text-align: center;

    .arabic {
        font-family: "Amiri", serif;
    }

    .translation {
        color: #b78846;
    }
}