.footer-nav {
    position: fixed;
    bottom: -0.5px;
    padding: 0 20px;
    background-color: #395b76;
    color: #F8F7F3;
    width: inherit;
    max-width: inherit;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    z-index: 3;
    max-height: 0;
    transition: all 0.5s cubic-bezier(0.76, 0, 0.24, 1);

    &.show {
        max-height: 59px;
        transition: all 1.5s cubic-bezier(0.76, 0, 0.24, 1);
    }

    .nav-list {
        list-style-type: none;
        padding: 0;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 0;

        .nav-item {
            padding: 15px 0 5px;

            a {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                i {
                    margin-bottom: 5px;
                }

                span {
                    font-size: 12px;
                }
            }

            .ig-filter {
                .footer-icons {
                    i {
                        &:last-child {
                            font-size: 10px;
                            vertical-align: super;
                            position: relative;
                            left: -6px;
                            top: -6px;
                        }
                    }
                }
            }
        }
    }
}

.popup {
    position: fixed;
    bottom: 0;
    background-color: #395b76;
    color: #F8F7F3;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
    width: inherit;
    max-width: inherit;
    z-index: 2;

    .popup-wrapper {
        width: 100%;
        padding: 23px 20px 85px;

        .close-btn {
            background-color: #f0ca97;
            border-radius: 60px;
            color: #395b76;
            cursor: pointer;
            font-size: 17px;
            line-height: 23px;
            padding: 0 5px;
            position: absolute;
            right: 16px;
            top: 20px;
        }

        .popup-heading {
            font-size: 20px;
            font-weight: 600;
            line-height: 27px;
            text-transform: uppercase;
            margin-bottom: 23px;

            @media (max-width: 380px) {
                margin-bottom: 15px;
            }
        }

        .contact-popup {
            padding: 0 60px;

            .contact-list {
                display: flex;
                justify-content: space-between;
                align-items: center;
                font-size: 16px;

                &:not(:last-child) {
                    margin-bottom: 10px;
                }

                .contact-name {}

                .contact-number {
                    font-size: 25px;

                    a {
                        &:first-child {
                            margin-right: 10px;
                        }
                    }
                }
            }
        }

        .location-popup {

            iframe {
                height: 300px;

                @media (max-width: 380px) {
                    height: 200px;
                }
            }

            .location-waze-gmap {
                align-items: center;
                display: flex;
                font-size: 16px;
                justify-content: space-between;
                padding: 20px;
                color: #395b76;
                flex-direction: column;

                @media (max-width: 380px) {
                    font-size: 14px;
                }

                .waze,
                .google-map {
                    background-color: transparent;
                    border: 1px solid #f0ca97;
                    border-radius: 80px;
                    color: #f8f7f3;
                    display: block;
                    margin: 0 10px;
                    padding: 10px 10px !important;
                    text-align: center;
                    text-decoration: none;
                    text-transform: none;
                    font-weight: 500;
                    width: 70%;
                    z-index: 999;

                    &:not(:last-child) {
                        margin-bottom: 20px;

                        @media (max-width: 380px) {
                            margin-bottom: 10px;
                        }
                    }

                    span {
                        margin-left: 5px;
                    }
                }
            }
        }

        .igfilter-popup {
            p {
                margin: 0;
            }

            a {
                background-color: transparent;
                border: 2px solid #b78846;
                border-radius: 80px;
                color: #f8f7f3;
                display: block;
                font-weight: 500;
                margin: 10px auto 0;
                padding: 10px !important;
                text-align: center;
                text-decoration: none;
                text-transform: none;
                width: 60%;
            }
        }
    }
}

#pemberian {
    .kiriman-accordion {
        background-color: transparent;

        .accordion-item {
            background-color: transparent;

            .accordion-header {

                button {
                    border: 1px solid #f0ca97;
                    padding: 12px 26px;
                    border-radius: 60px;
                    margin-bottom: 15px;

                    @media (max-width: 380px) {
                        padding: 10px 26px;
                        margin-bottom: 10px;
                        font-size: 14px;
                    }

                    &:focus {
                        outline: 0;
                        border: 1px solid #f0ca97;
                        box-shadow: none;
                    }

                    &:not(.collapsed) {
                        background-color: #2b455b;
                        border: 1px solid #f0ca97;

                        &:after {
                            transform: rotate(180deg);
                            transition: all 1s cubic-bezier(0.76, 0, 0.24, 1);
                        }
                    }

                    &:after {
                        content: '\f078';
                        font-family: "Font Awesome 6 Pro";
                        display: inline-block;
                        padding-right: 3px;
                        vertical-align: middle;
                        font-weight: 300;
                        transition: all 1s cubic-bezier(0.76, 0, 0.24, 1);
                    }
                }
            }

            .accordion-body {
                .pemberian-popup {
                    .bank-account {
                        margin-bottom: 5px;
                        font-size: 18px;
                        font-weight: 600;

                        @media (max-width: 380px) {
                            margin-bottom: 5px;
                            font-size: 16px;
                        }
                    }

                    .label {
                        margin-bottom: 5px;
                    }

                    img {
                        display: block;
                        margin: 10px auto;
                        width: 45%;

                        @media (max-width: 380px) {
                            width: 35%;
                        }
                    }

                    .input-box {
                        background-color: #f8f7f3;
                        color: #395b76;
                        padding: 8px 10px;
                        margin-bottom: 5px;
                        border-radius: 6px;

                        @media (max-width: 380px) {
                            padding: 4px 10px;
                        }

                        p {
                            margin-bottom: 0;
                            font-size: 13px;
                        }
                    }

                    .save-qr {
                        background-color: transparent;
                        border: 2px solid #b78846;
                        border-radius: 80px;
                        color: #f8f7f3;
                        display: block;
                        font-weight: 500;
                        padding: 10px !important;
                        text-align: center;
                        text-decoration: none;
                        text-transform: none;
                        width: 50%;
                        margin: 10px auto 20px;
                        font-size: 14px;

                        @media (max-width: 380px) {
                            line-height: 18px;
                        }
                    }
                }

                .hadiah-popup {
                    .address-heading {
                        font-size: 18px;
                        margin-bottom: 5px;
                        font-weight: 600;

                        @media (max-width: 380px) {
                            font-size: 16px;
                        }
                    }

                    .input-box {
                        background-color: #f8f7f3;
                        color: #395b76;
                        padding: 8px 10px;
                        margin-bottom: 5px;
                        border-radius: 6px;

                        @media (max-width: 380px) {
                            padding: 4px 10px;
                        }

                        p {
                            margin-bottom: 0;
                            font-size: 13px;
                        }
                    }
                }
            }
        }

    }

}


#hubungi,
#lokasi,
#pemberian,
#igfilter {
    max-height: 0px;
    overflow: hidden;
    opacity: 0;
    transition: all 1s cubic-bezier(0.76, 0, 0.24, 1);

    &.show {
        opacity: 1;
        transition: all 1s cubic-bezier(0.76, 0, 0.24, 1);
    }
}

#hubungi {
    &.show {
        max-height: 290px;

        @media (max-width: 380px) {
            max-height: 275px;
        }
    }
}

#lokasi {
    &.show {
        max-height: 665px;

        @media (max-width: 380px) {
            max-height: 525px;
        }
    }
}

#pemberian {
    &.show {
        max-height: 310px;

        @media (max-width: 380px) {
            max-height: 275px;
        }
    }

    &.opened-wang {
        max-height: 730px;

        @media (max-width: 380px) {
            max-height: 625px;
        }
    }

    &.opened-hadiah {
        max-height: 440px;
    }
}

#igfilter {
    &.show {
        max-height: 230px;
    }
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    z-index: 1;
    max-height: 0;
    opacity: 0;
    transition: max-height 1s cubic-bezier(0.76, 0, 0.24, 1), opacity 0.3s cubic-bezier(0.76, 0, 0.24, 1);

    &.show {
        max-height: 100vh;
        opacity: 1;
        transition: max-height 0.3s cubic-bezier(0.76, 0, 0.24, 1), opacity 1s cubic-bezier(0.76, 0, 0.24, 1);
    }
}