.footer-nav {
    position: fixed;
    bottom: 0;
    padding: 0 20px;
    background-color: #395b76;
    color: #F8F7F3;
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    z-index: 3;

    .nav-list {
        list-style-type: none;
        padding: 0;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 0;

        .nav-item {
            padding: 15px 0 5px;

            a {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                i {
                    margin-bottom: 5px;
                }

                span {
                    font-size: 12px;
                }
            }
        }
    }
}

.popup {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #395b76;
    color: #F8F7F3;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
    z-index: 2;

    .popup-wrapper {
        width: 100%;
        padding: 40px 20px 85px;

        .popup-heading {
            font-size: 20px;
            font-weight: 600;
            line-height: 27px;
            text-transform: uppercase;
            margin-bottom: 30px;
        }

        .contact-popup {
            padding: 0 60px;

            .contact-list {
                display: flex;
                justify-content: space-between;
                align-items: center;
                font-size: 16px;

                &:not(:last-child) {
                    margin-bottom: 10px;
                }

                .contact-name {}

                .contact-number {
                    font-size: 25px;

                    a {
                        &:first-child {
                            margin-right: 10px;
                        }
                    }
                }
            }
        }

        .location-popup {
            .location-waze-gmap {
                align-items: center;
                display: flex;
                font-size: 18px;
                justify-content: space-between;
                padding: 20px;
                color: #395b76;

                .waze,
                .google-map {
                    margin: 0 10px;
                    background-color: #F8F7F3;
                    padding: 10px 15px;
                    border-radius: 6px;
                }
            }
        }




    }


}

#hubungi,
#lokasi {
    max-height: 0px;
    overflow: hidden;
    opacity: 0;
    transition: all 1s cubic-bezier(0.76, 0, 0.24, 1);

    &.show {
        opacity: 1;
        transition: all 1s cubic-bezier(0.76, 0, 0.24, 1);
    }
}

#hubungi {
    &.show {
        max-height: 320px;
    }
}

#lokasi {
    &.show {
        max-height: 640px;
    }
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* dark overlay with opacity */
    backdrop-filter: blur(5px);
    /* blur effect */
    z-index: 1;
    /* ensure it's above other content */
    display: none;

    &.show {
        display: block;
    }
}