.welcome {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    // padding: 40px 0px;
    overflow-x: hidden;
    // background-image: url('../images/rattan.webp');
    // margin: 40px 0;

    .arch {
        width: 110%;
        max-width: none;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);

        &.top {
            top: 0;
        }

        &.bottom {
            bottom: 0;
        }
    }

    .floral {
        position: absolute;
        width: 35%;

        &.peony-1 {
            top: 0;
            right: -10px;
        }

        &.peony-2 {
            top: 0;
            left: -10px;
            transform: rotate(30deg);
        }
    }

    .welcome-wrapper {
        // background-color: #F7F6F2;
        width: 100%;
        padding: 40px 0px;

        // border-top-right-radius: 500px;
        // border-top-left-radius: 500px;
        // border-bottom-left-radius: 80px;
        // border-bottom-right-radius: 80px;
        // box-shadow: 0 2px 25px rgba(0, 0, 0, .05);
        overflow: hidden;

        
        div {
            padding-left: 0px;
            padding-right: 0px;
        }

        .frame {
            text-align: center;
            position: relative;
            // background-image: url('../images/rattan.webp');
            background-size: cover;

            .frame-wrapper {
                padding: 40px 0px;

                h1,
                p {
                    letter-spacing: 2px;
                }

                .frame-title {
                    margin-bottom: 25px;
                }

                .calligraphy-name {
                    width: 70%;
                    transform: translateY(0);
                    transition: all 0.75s cubic-bezier(0.76, 0, 0.24, 1);

                    &.splash-centered {
                        transform: translateY(40%);
                        transition: all 0.75s cubic-bezier(0.76, 0, 0.24, 1);
                    }
                }

                .calligraphy-text {
                    font-family: MiltonTwo, Arial, Helvetica, sans-serif;

                    &.name {
                        font-size: 100px;
                        font-weight: 600;
                        letter-spacing: 0;
                        line-height: 90px;
                        margin-bottom: 0;
                        text-indent: -10px;

                        &.zaquan {
                            // text-align: left;
                            // margin-top: -18px;
                        }

                        &.adilah {
                            // text-align: right;
                        }
                    }
                }

                .ampersand {
                    // font-family: Belista, Arial, Helvetica, sans-serif;
                    font-family: YoungGallant, Arial, Helvetica, sans-serif;
                    font-size: 30px;
                    line-height: 0px;
                    margin-bottom: 0;
                }

                .venue-date {

                    .day,
                    .date,
                    .year,
                    // .venue,
                    .region,
                    .state {
                        text-transform: uppercase;
                        color: #b78846;
                        // font-weight: 600;
                    }

                    .date {
                        margin-bottom: 1rem;
                    }

                    .venue {
                        font-family: GraciaASW03-No55, Arial, Helvetica, sans-serif;
                        font-size: 32px;
                        line-height: 30px;
                        margin: 0;
                        padding-bottom: 0;
                    }

                    .day,
                    .year,
                    .region {
                        font-size: 14px;
                        line-height: 21px;
                        // letter-spacing: 10px;
                        // font-weight: 600;
                        margin: 0;
                    }


                }

                .frame-title,
                .date,
                .state {
                    font-size: 14px;
                    line-height: 16px;
                    text-transform: uppercase;
                    // font-weight: 600;
                }
            }

            .rumah-dusun {
                opacity: 0.9;
                mix-blend-mode: darken;
            }
        }
    }
}

.date-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 30px 0 25px;

    p {
        margin: 0;
    }

    .left {
        padding: 0 0 0 20px !important;
    }

    .right {
        padding: 0 20px 0 0 !important;
    }

    .left,
    .right {
        // padding: 0 10px !important;

        p {
            border-top: 1px solid #b78846;
            border-bottom: 1px solid #b78846;
            font-size: 12px;
            text-transform: uppercase;
            padding: 5px 0;
        }

    }

    .middle {

        .day {
            font-size: 48px;
            font-weight: 600;
            line-height: 45px;
            color: #b78846;
        }

        .month,
        .year {
            font-weight: 600;
        }

        .year {
            letter-spacing: 3px;
        }

        .month,
        .day,
        .year {
            text-transform: uppercase;
        }
    }


}